html body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.huaweiclound{
  width: 100%;
  height: 100%;
}
.huaweiclound-top{
  position: relative;
  z-index: 2;
  height: 50px;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
  font-size: 14px;
  color: #a0a2a8;
}

.huaweiclound-logo {
  float: left;
  height: 32px;
  width: 104px;
  line-height: 32px;
  left: -84px;
  top: 9px;
}


.huaweiclound-logo .huaweiclound-logo-picture {
  display: block;
  height: 32px;
  width: 104px;
  background-size: cover;
  line-height: 32px;
}
.huaweiclound-logo .huaweiclound-logo-picture img {
  width: 104px;
  height: 32px;
}
.huaweiclound-nav {
  float: right;
  width: 678px;
  height: 49px;
}
.huaweiclound-nav-left {
  float: right;
  width: 678px;
  height: 49px;
}
.huaweiclound-nav-sou {
  width: 100%;
  height: 61px;
}


.huaweiclound-nav-sou #clound{
  width: 100%;
  height: 61px;
  left: -44px;
}

.huaweiclound-nav-sou .active input{
  height: 32px;
  /* width: 141px; */
  padding-left: 15px;
  padding-right: 44px;
  border: none;
  outline: none;
  background: rgba(87,93,108,.08);
  font-size: 14px;
  line-height: 20px;
  color: #252b3a;
}

.huaweiclound-nav-sou li{
  float: left;
  margin-left: 32px;
  line-height: 50px;
  color: #333333;
  font-size: 14px;
}

.huaweiclound-nav-sou .ce {
  position: relative;
  background-color: #c7000b;
  width: 60px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  margin-left: 0;
  left: 32px;
  top: 10px;
  font-size: 14px;
}       
.huaweiclound-nav-sou .ce>a{
  color: #fff;
}

.huaweiclound-nav-sou #deng {
  color: red;
}

.hread-chinese-s {
  width: 50px;
  height: 34px;
}
.hread-chinese-station {
  width: 50px;
  text-align: center;
  margin-left: 30px;
}
.hread-ul-tiem>a{
  display: block;
  font-size: 14px;
}

.hread-chinese-s .hread-ul{
  position: relative;
}
.hread-chinese-s .hread-ul-item {
  position: relative;
  overflow: hidden;
}
.hread-chinese-s .jian {
  display: inline-block;
  position: relative;
  top: -48px;
  width: 12px;
  height: 12px;
  margin-left: 48px;
  background: url(../img/jian.png);
  background-size: 100% 100%;
  transform: rotateX(0deg);
}
.hread-chinese-t {
  background-color: #fff;
  display: none;
  position: absolute;
  top: 50px;
}
.heard {
  display: inline-block;
  font-size: 14px;
  width: 60px;
}
.header li {
  height: 0;
}
.hread-box .hread-chinese-station {
  height: 22px;
  line-height: 22px;
  color: rgba(37,43,58,.6);
  font-size: 14px;
  width: 82px;
  margin-bottom: 8px;
}
.hread-ul {
  width: 130px;
  height: 185px;
  position: relative;
  left: -30px;
}
.hread-ul li {
  margin-top: -10px;
}
.container ul>li>a> .g {
  position: relative;
  top: 10px;
  width: 12px;
  height: 12px;
  left: 15px;
  background: url(../img/jian.png);
  background-size: 15px 15px;
  background-position: -15px -15px;
}
.huaweiclound-bottom {
  width: 100%;
  height: 50px;
}

.huaweiclound-bottom .huaweiclound-ul{
  width: 1000px;
  height: 100%;
  position: relative;
  float: left;
  left: -20px;
  height: 50px;
  overflow: hidden;
}
.huaweiclound-bottom .huaweiclound-item{
  float: left;
  line-height: 50px;
}
.huaweiclound-bottom .huaweiclound-item>a{
  display: block;
  padding: 10px 21px;
  font-size: 14px;
  line-height: 30px;
  color: #252b3a;
  position: relative;
}




.huaweiclound-content {
  position: relative;
}
.huaweiclound-content img{
  width: 100%; 
}
.huaweiclound-content-box {
  position: absolute;
}









.huaweiclound-summary {
  background-color: #ffffff;
  height: 50px;
}
.huaweiclound-summary-box {
  float: right;
  background-color: #ffffff;
  width: 100%;
  height: 50px;
}
.huaweiclound-summary-box ul {
  width: 100%;
  height: 100%;
}
.huaweiclound-list {
  background-color: #f3f8ff;
  height: 113px;
}
.huaweiclound-list-box li {
  float: left;
  width: 238px;
  margin-top: 45px;
  border: 1px solid #dddddd;
  width: 115px;
  height: 20px;
  padding: 6px 0;
  font-size: 14px;
  color: #252b3a;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
  float: left;

}
.bd{
  background: rgba(246, 111, 106, 0.1); 
} 
.ad {
  color: #f66f6a;
  font-size: 14px;
  font-weight: normal;
}

.huaweiclound-ul-li li {
  float: left;
  width: 23%;
  height: 50px;
  /* padding-top: 11px; */
  color: #333;
  font-size: 16px;
  text-align: center;
  line-height: 50px;

}
.huaweiclound-ul li:hover {
    color: #C7000B;
}
.huaweiclound-ul-li .one {
  position: absolute;
  left: 70px;
  top: 12px;
  display: inline-block;
  /* background-color: red; */
  width: 32px;
  height: 27px;
  /* margin-left: -42px; */
  background-image: url(../img/spriteicons.svg);
  background-position: -3px 300px;
  background-size: 228px;
}
.huaweiclound-ul-li .two {
  position: absolute;
  left: 365px;
  top: 11px;
  display: inline-block;
  /* background-color: red; */
  width: 32px;
  height: 30px;
  /* margin-left: -42px; */
  background-image: url(../img/spriteicons.svg);
  background-position: -40px -4px;
  background-size: 228px;
}
.huaweiclound-ul-li .three {
  position: absolute;
  left: 640px;
  top: 11px;
  display: inline-block;
  /* background-color: red; */
  width: 32px;
  height: 30px;
  /* margin-left: -42px; */
  background-image: url(../img/spriteicons.svg);
  background-position: -80px -41px;
  background-size: 228px;
}
.huaweiclound-ul-li .four {
  position: absolute;
  left: 946px;
  top: 11px;
  display: inline-block;
  /* background-color: red; */
  width: 32px;
  height: 30px;
  /* margin-left: -42px; */
  background-image: url(../img/spriteicons.svg);
  background-position: -155px -41px;
  background-size: 228px;
}

.huaweiclound-proTitle {
  height: 1305px;
  background-color: #f3f8ff;
}
.huaweiclound-proTitle-huo {
  width: 100%;
  height: 30px;
}
.huaweiclound-proTitle-huo > p {
  float: left;
  height: 25px;
  font-size: 24px;
  font-weight: 100;
  border-left: 5px solid #f66f6a;
  padding-left: 9px;
  color: #333;
}




.huaweiclound-newcomer {
  width: 100%;
  height: 800px;
  background-color: #f3f8ff;
}
.huaweiclound-newcomer-box {
  width: 60px;
  border: 1px solid #dddddd;
  margin-top: 20px;
  margin-left: 25px;
  color: #666a75;
  font-size: 15px;
  padding: 10px;
  display: inline-block;
}
.huaweiclound-newcomer-box:hover {
  color: #f66f6a;
}
.huaweiclound-newcomer-te {
  float: left;
  width: 380px;
  height: 160px;
  margin-right: 25px;
  margin-top: 25px;
  /* border: 1px solid #191d28; */
  background-color: #ffffff;
}
.huaweiclound-newcomer-te:hover {
  box-shadow: 10px 10px 3px #e0e5eb;
  transition: all 1s;
  color: #f66f6a;
}
.TE{
  padding: 10px;
}
.huaweiclound-newcomer-te h5 {
  margin-left: 50px;
  font-weight: 600;
  padding: 10px;
  font-size: 24px;
  color: #252b3a;
  margin-left: 10px;
}
.huaweiclound-newcomer-te p {
  margin-top: 16px;
  margin-left: 20px;
  background-repeat: no-repeat;
  font-size: 15px;
}
.huaweiclound-newcomer-te span {
  color: #f66f6a;
}
.huaweiclound-newcomer-te img {
  float: right;
  width: 107px;
  margin-top: -24px;
  height: 95px;
}
/* .huaweiclound-purchase {
  width: 100%;
  height: 1130px;
} */

.safety h5:hover {
  color: #f66f6a;
}

.huaweiclound-AI {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 1000px;
  left: 0;
}
.huaweiclound-AI p {
  font-size: 24px;
  line-height: 30px;
  border-left: 5px solid #f66f6a;
  padding: 0 0 0 10px;
}

.huaweiclound-AI-box {
  float: left;
  width: 380px;
  height: 160px;
  margin-right: 25px;
  margin-top: 25px;
  /* border: 1px solid #191d28; */
  background-color: #ffffff;
  position: absolute;
  top: 1037px;
  left: 0;
}

.huaweiclound-AI-box:hover {
  box-shadow: 10px 10px 3px #e0e5eb;
  transition: all 1s;
  color: #f66f6a;
}
.IT{
  padding: 10px;
}
.huaweiclound-AI-box h5 {
  margin-left: 50px;
  font-weight: 600;
  padding: 10px;
  font-size: 24px;
  color: #252b3a;
  margin-left: 10px;
}
.huaweiclound-AI-box p {
  margin-top: 16px;
  margin-left: 20px;
  background-repeat: no-repeat;
  font-size: 15px;
}
.huaweiclound-AI-box span {
  color: #f66f6a;
}
.huaweiclound-AI-box img {
  float: right;
  width: 107px;
  margin-top: -24px;
  height: 95px;
}
.huaweiclound-AI-gou {
  width: 60px;
  border: 1px solid #dddddd;
  margin-top: 20px;
  margin-left: 25px;
  color: #666a75;
  font-size: 15px;
  padding: 10px;
  display: inline-block;
}
.huaweiclound-AI-box1 {
  float: left;
  width: 380px;
  height: 160px;
  margin-right: 25px;
  margin-top: 25px;
  /* border: 1px solid #191d28; */
  background-color: #ffffff;
  position: absolute;
  top: 1037px;
  left: 410px;
}

.huaweiclound-AI-box1:hover {
  box-shadow: 10px 10px 3px #e0e5eb;
  transition: all 1s;
  color: #f66f6a;
}
.IT{
  padding: 10px;
}
.huaweiclound-AI-box1 h5 {
  margin-left: 50px;
  font-weight: 600;
  padding: 10px;
  font-size: 24px;
  color: #252b3a;
  margin-left: 10px;
}
.huaweiclound-AI-box1 p {
  margin-top: 16px;
  margin-left: 20px;
  background-repeat: no-repeat;
  font-size: 15px;
}
.huaweiclound-AI-box1 span {
  color: #f66f6a;
}
.huaweiclound-AI-box1 img {
  float: right;
  width: 107px;
  margin-top: -24px;
  height: 95px;
}
.huaweiclound-AI-gou {
  width: 60px;
  border: 1px solid #dddddd;
  margin-top: 20px;
  margin-left: 25px;
  color: #666a75;
  font-size: 15px;
  padding: 10px;
  display: inline-block;
}
.huaweiclound-AI-box2 {
  float: left;
  width: 380px;
  height: 160px;
  margin-right: 25px;
  margin-top: 25px;
  /* border: 1px solid #191d28; */
  background-color: #ffffff;
  position: absolute;
  top: 1037px;
  left: 822px;
}

.huaweiclound-AI-box2:hover {
  box-shadow: 10px 10px 3px #e0e5eb;
  transition: all 1s;
  color: #f66f6a;
}
.IT{
  padding: 10px;
}
.huaweiclound-AI-box2 h5 {
  margin-left: 50px;
  font-weight: 600;
  padding: 10px;
  font-size: 24px;
  color: #252b3a;
  margin-left: 10px;
}
.huaweiclound-AI-box2 p {
  margin-top: 16px;
  margin-left: 20px;
  background-repeat: no-repeat;
  font-size: 15px;
}
.huaweiclound-AI-box2 span {
  color: #f66f6a;
}
.huaweiclound-AI-box2 img {
  float: right;
  width: 107px;
  margin-top: -24px;
  height: 95px;
}
.huaweiclound-AI-gou {
  width: 60px;
  border: 1px solid #dddddd;
  margin-top: 20px;
  margin-left: 25px;
  color: #666a75;
  font-size: 15px;
  padding: 10px;
  display: inline-block;
}


















.huaweiclound-footer {
  width: 100%;
  height: 101px;
  background-color: #f3f3f3;
}
.huaweiclound-footer-wrapper {
  width: 100%;
  height: 100%;
}
.huaweiclound-footer-wrapper ul {
  overflow: hidden;
  border-bottom: 1px solid #e2e2e2;
}
.huaweiclound-footer-wrapper li {
  float: left;
  width: 20%;
}
.huaweiclound-footer-wrapper li>a {
  display: block;
  position: relative;
  height: 72px;
  padding-left: 55px;
  padding-top: 28px;
}
.huaweiclound-footer-wrapper a>i {
  position: absolute;
  left: 0;
  top: 50px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  background-size: 100% 100%;

}
.footer-support {
  background-image: url(../img/support.svg);
}
.footer-unsub {
  background-image: url(../img/unsub.svg);
}
.footer-record {
  background-image: url(../img/record.svg);
}
.footer-feedback {
  background-image: url(../img/feedback.svg);
}
.footer-vip {
  background-image: url(../img/vip.svg);
}
.huaweiclound-footer-wrapper a>h2 {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 22px;
  color: #252b3a;
}
.huaweiclound-footer-wrapper a>p {
  font-size: 14px;
  line-height: 18px;
  color: #666a75;
}

.huaweiclound-final {
  width: 100%;
  height: 325px;
  background-color: #f3f3f3;
}
.huaweiclound-final-left {
  width: 242px;
  height: 253px;
  padding-top: 38px;
  padding-bottom: 42px;
  float: left;

}
.huaweiclound-final-left-box {
  width: 242px;
  height: 253px;
  border-right: 1px solid #e2e2e2;
}
.huaweiclound-left-box-top {
  width: 142px;
  height: 81px;
  /* border: 1px solid #f5f5f5; */

}
.huaweiclound-left-box-top h2{
  margin-bottom: 12px;
  font-size: 14px;
  line-height: 18px;
  color: #252b3a;
  font-weight: normal;
}
.huaweiclound-left-box-top p {
  font-size: 20px;
  line-height: 22px;
  color: #252b3a;
}
.huaweiclound-left-box-top p+p {
  margin-top: 7px;
}
.huaweiclound-left-box-top ul {
  width: 142px;
  height: 72px;

}
.huaweiclound-left-box-top ul>li {
  font-size: 12px;
  line-height: 24px;
  margin-top: 5px;
}




.huaweiclound-left-box-top dl>dt {
  margin-top: 40px;
  font-size: 14px;
}
.huaweiclound-fainal-right {
  width: 983px;
  height: 305px;
  float: right;
  /* width: calc(100% - 242px); */
  padding-left: 54px;
}
.huaweiclound-left-box-bottom  {
  width: 100%;
  height: 100%;
}
.huaweiclound-left-box-bottom dl{
  float: left;
  width: 20%;
  padding-top: 30px;
  font-size: 14px;
}
.huaweiclound-left-box-bottom dt {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 18px;
  color: #252b3a;
}
.huaweiclound-left-box-bottom dd {
  margin-top: 15px;
}