html body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.huaweiclound{
width: 100%;
height: 100%;
}
.huaweiclound-top{
    position: relative;
    z-index: 2;
    height: 50px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    font-size: 14px;
    color: #a0a2a8;
}
.huaweiclound-logo {
    float: left;
    height: 32px;
    width: 104px;
    line-height: 32px;
    left: -84px;
    top: 9px;
}


.huaweiclound-logo .huaweiclound-logo-picture {
    display: block;
    height: 32px;
    width: 104px;
    background-size: cover;
    line-height: 32px;
}
.huaweiclound-logo .huaweiclound-logo-picture img {
    width: 104px;
    height: 32px;
}
.huaweiclound-nav {
    float: right;
    width: 678px;
    height: 49px;
}
.huaweiclound-nav-left {
    float: right;
    width: 678px;
    height: 49px;
}
.huaweiclound-nav-sou {
    width: 100%;
    height: 61px;
}


.huaweiclound-nav-sou #clound{
    width: 100%;
    height: 61px;
    left: -44px;
}

.huaweiclound-nav-sou #clound input{
    height: 32px;
    width: 141px;
    padding-left: 15px;
    padding-right: 44px;
    border: none;
    outline: none;
    background: rgba(87,93,108,.08);
    font-size: 14px;
    line-height: 20px;
    color: #252b3a;
}

.huaweiclound-nav-sou li{
    float: left;
    margin-left: 32px;
    line-height: 50px;
    color: #333333;
    font-size: 14px;
}
.hread-ul-tiem>a{
    display: block;
    font-size: 14px;
}
.hread-chinese-station {
    width: 50px;
    text-align: center;
    margin-left: 30px;
}
.huaweiclound-nav-sou .ce {
    position: relative;
    background-color: #c7000b;
    width: 60px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin-left: 0;
    left: 32px;
    top: 10px;
    font-size: 14px;
}       
.huaweiclound-nav-sou .ce>a{
    color: #fff;
}

.huaweiclound-nav-sou #deng {
    color: red;
}

.hread-chinese-s {
    width: 50px;
    height: 34px;
}

.hread-chinese-s .hread-ul{
    position: relative;
}
.hread-chinese-s .hread-ul-item {
    position: relative;
    overflow: hidden;
}
.hread-chinese-s .jian {
    display: inline-block;
    position: relative;
    top: -48px;
    width: 12px;
    height: 12px;
    margin-left: 48px;
    background: url(../img/jian.png);
    background-size: 100% 100%;
    transform: rotateX(0deg);
}
.chinese-t {
    background-color: #fff;
    display: none;
}
.heard {
    display: inline-block;
    font-size: 14px;
    width: 60px;
}
.header li {
    height: 0;
}
.hread-box .hread-chinese-station {
    height: 22px;
    line-height: 22px;
    color: rgba(37,43,58,.6);
    font-size: 14px;
    width: 82px;
    margin-bottom: 8px;
}
.hread-ul {
    width: 130px;
    height: 185px;
    position: relative;
    left: -30px;
    display: none;
}
.hread-ul li {
    margin-top: -10px;
}
.container ul>li>a> .g {
    position: relative;
    top: 10px;
    width: 12px;
    height: 12px;
    left: 15px;
    background: url(../img/jian.png);
    background-size: 15px 15px;
    background-position: -15px -15px;
}


.huaweiclound-bottom {
    width: 100%;
    height: 50px;
}

.huaweiclound-bottom .huaweiclound-ul{
    width: 1000px;
    height: 100%;
    position: relative;
    float: left;
    left: -20px;
    height: 50px;
    overflow: hidden;
}
.huaweiclound-bottom .huaweiclound-item{
    float: left;
    line-height: 50px;
}
.huaweiclound-bottom .huaweiclound-item>a{
    display: block;
    padding: 10px 21px;
    font-size: 14px;
    line-height: 30px;
    color: #252b3a;
    position: relative;
}

.huaweiclound-bei{
    width: 100%;
    height: 530px;
    background-image: url(../img/bejin1.jpg);
}
.huaweiclound-bei-box{
    position: relative;
}
.huaweiclound-bei-picture  {
    width: 1316px;
    height: 530px;
}
.huaweiclound-bei-picture a{
    position: absolute;
    top: 105px;
    font-size: 40px;
}
.huaweiclound-bei-picture p {
    position: absolute;
    top: 172px;
    font-size: 20px;
}
.huaweiclound-bei-picture .obtn {
    position: absolute;
    top: 230px;
    font-size: 20px;
    width: 130px;
    height: 40px;
    background-color: #deeaf8;
    border: 1px solid #333333;
}
.huaweiclound-bei-picture img {
    left: 885px;
    position: absolute;
    top: 10px;
}
.huaweiclound-bei-big{
    position: relative;
}
.huaweiclound-bei-big h1{
    position: absolute;
    top: -505px;
    left: 315px;
    font-size: 60px;
}
.huaweiclound-bei-big p {
    position: absolute;
    top: -211px;
    left: 255px;
    font-size: 20px;
}
.btn button {
    position: absolute;
    top: -162px;
    left: 253px;
    font-size: 14px;
    width: 118px;
    height: 38px;
    background-color: #dbe9f6;
    border: 1px solid #333333;

}
.huaweiclound-bei-big .btn a>img{
    width: 430px;
    height: 510px;
    position: absolute;
    top: -460px;
    right: 375px;
    transition: 0.5s;
}
.box1 {
    position: absolute;
    top: 460px;
    width: 312px;
    height: 100px;
    background-color: #fff;
}
.box1 .f {
    position: absolute;
    width: 85px;
    top: 8px;
    left: 32px;
    height: 80px;
    background-position: -17px -26px;
    background-size: 121px;
    background-image: url(../img/f1.png);
}
.box1 h2 {
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 142px;
}
.box1 p {
    font-size: 12px;
    position: absolute;
    top: 48px;
    left: 142px;
}



.box2 {
    position: absolute;
    left: 335px;
    top: 460px;
    width: 312px;
    height: 100px;
    background-color: #fff;
}
.box2 .q {
    position: absolute;
    width: 85px;
    top: 8px;
    left: 32px;
    height: 80px;
    background-position: -17px -26px;
    background-size: 121px;
    background-image: url(../img/f2.png);
}
.box2 h2 {
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 142px;
}
.box2 p {
    font-size: 12px;
    position: absolute;
    top: 48px;
    left: 142px;
}



.box3 {
    position: absolute;
    top: 460px;
    width: 312px;
    left: 670px;
    height: 100px;
    background-color: #fff;
}
.box3 .h {
    position: absolute;
    width: 85px;
    top: 8px;
    left: 32px;
    height: 80px;
    background-position: -17px -26px;
    background-size: 121px;
    background-image: url(../img/f3.png);
}
.box3 h2 {
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 142px;
}
.box3 p {
    font-size: 12px;
    position: absolute;
    top: 48px;
    left: 142px;
}



.box4 {
    position: absolute;
    top: 460px;
    width: 312px;
    left: 1003px;
    height: 100px;
    background-color: #fff;
}
.box4 .m {
    position: absolute;
    width: 85px;
    top: 8px;
    left: 32px;
    height: 80px;
    background-position: -17px -26px;
    background-size: 121px;
    background-image: url(../img/f4.png);
}
.box4 h2 {
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 142px;
}
.box4 p {
    font-size: 12px;
    position: absolute;
    top: 48px;
    left: 142px;
}