html body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.huaweiclound{
width: 100%;
height: 100%;
}
.huaweiclound-top{
    position: relative;
    z-index: 2;
    height: 50px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    font-size: 14px;
    color: #a0a2a8;
}
.huaweiclound-logo {
    float: left;
    height: 32px;
    width: 104px;
    line-height: 32px;
    left: -84px;
    top: 9px;
}


.huaweiclound-logo .huaweiclound-logo-picture {
    display: block;
    height: 32px;
    width: 104px;
    background-size: cover;
    line-height: 32px;
}
.huaweiclound-logo .huaweiclound-logo-picture img {
    width: 104px;
    height: 32px;
}
.huaweiclound-nav {
    float: right;
    width: 678px;
    height: 49px;
}
.huaweiclound-nav-left {
    float: right;
    width: 678px;
    height: 49px;
}
.huaweiclound-nav-sou {
    width: 100%;
    height: 61px;
}


.huaweiclound-nav-sou #clound{
    width: 100%;
    height: 61px;
    left: -44px;
}

.huaweiclound-nav-sou #clound input{
    height: 32px;
    width: 141px;
    padding-left: 15px;
    padding-right: 44px;
    border: none;
    outline: none;
    background: rgba(87,93,108,.08);
    font-size: 14px;
    line-height: 20px;
    color: #252b3a;
}

.huaweiclound-nav-sou li{
    float: left;
    margin-left: 32px;
    line-height: 50px;
    color: #333333;
    font-size: 14px;
}
.hread-ul-tiem>a{
    display: block;
    font-size: 14px;
}
.hread-chinese-station {
    width: 50px;
    text-align: center;
    margin-left: 30px;
}
.huaweiclound-nav-sou .ce {
    position: relative;
    background-color: #c7000b;
    width: 60px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin-left: 0;
    left: 32px;
    top: 10px;
    font-size: 14px;
}       
.huaweiclound-nav-sou .ce>a{
    color: #fff;
}

.huaweiclound-nav-sou #deng {
    color: red;
}

.hread-chinese-s {
    width: 50px;
    height: 34px;
}

.hread-chinese-s .hread-ul{
    position: relative;
}
.hread-chinese-s .hread-ul-item {
    position: relative;
    overflow: hidden;
}
.hread-chinese-s .jian {
    display: inline-block;
    position: relative;
    top: -48px;
    width: 12px;
    height: 12px;
    margin-left: 48px;
    background: url(../img/jian.png);
    background-size: 100% 100%;
    transform: rotateX(0deg);
}
.chinese-t {
    background-color: #fff;
    display: none;
}
.heard {
    display: inline-block;
    font-size: 14px;
    width: 60px;
}
.header li {
    height: 0;
}
.hread-box .hread-chinese-station {
    height: 22px;
    line-height: 22px;
    color: rgba(37,43,58,.6);
    font-size: 14px;
    width: 82px;
    margin-bottom: 8px;
}
.hread-ul {
    width: 130px;
    height: 185px;
    position: relative;
    left: -30px;
    display: none;
}
.hread-ul li {
    margin-top: -10px;
}
.container ul>li>a> .g {
    position: relative;
    top: 10px;
    width: 12px;
    height: 12px;
    left: 15px;
    background: url(../img/jian.png);
    background-size: 15px 15px;
    background-position: -15px -15px;
}


.huaweiclound-bottom {
    width: 100%;
    height: 50px;
}

.huaweiclound-bottom .huaweiclound-ul{
    width: 1000px;
    height: 100%;
    position: relative;
    float: left;
    left: -20px;
    height: 50px;
    overflow: hidden;
}
.huaweiclound-bottom .huaweiclound-item{
    float: left;
    line-height: 50px;
}
.huaweiclound-bottom .huaweiclound-item>a{
    display: block;
    padding: 10px 21px;
    font-size: 14px;
    line-height: 30px;
    color: #252b3a;
    position: relative;
}

.huaweiclound-bei{
    width: 100%;
    height: 530px;
    background-image: url(../img/beijin1.jpg);
}
.huaweiclound-bei-box{
    position: relative;
}
.huaweiclound-bei-picture  {
    width: 1316px;
    height: 530px;
}
.huaweiclound-bei-picture a{
    position: absolute;
    top: 105px;
    font-size: 40px;
}
.huaweiclound-bei-picture p {
    position: absolute;
    top: 172px;
    font-size: 20px;
}
.huaweiclound-bei-picture .obtn {
    position: absolute;
    top: 230px;
    font-size: 20px;
    width: 130px;
    height: 40px;
    background-color: #deeaf8;
    border: 1px solid #333333;
}
.huaweiclound-bei-picture img {
    left: 885px;
    position: absolute;
    top: 10px;
}
.huaweiclound-bei-big{
    position: relative;
}
.huaweiclound-bei-big h1{
    position: absolute;
    top: -505px;
    left: 315px;
    font-size: 60px;
}
.huaweiclound-bei-big p {
    position: absolute;
    top: -211px;
    left: 255px;
    font-size: 20px;
}
.btn button {
    position: absolute;
    top: -162px;
    left: 253px;
    font-size: 14px;
    width: 118px;
    height: 38px;
    background-color: #dbe9f6;
    border: 1px solid #333333;

}
.huaweiclound-bei-big .btn a>img{
    width: 430px;
    height: 510px;
    position: absolute;
    top: -460px;
    right: 375px;
    transition: 0.5s;
}
.box1 {
    position: absolute;
    top: 460px;
    width: 312px;
    height: 100px;
    background-color: #fff;
}
.box1 .f {
    position: absolute;
    width: 85px;
    top: 8px;
    left: 32px;
    height: 80px;
    background-position: -17px -26px;
    background-size: 121px;
    background-image: url(../img/f1.png);
}
.box1 h2 {
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 142px;
}
.box1 p {
    font-size: 12px;
    position: absolute;
    top: 48px;
    left: 142px;
    /* box-shadow: ; */
}



.box2 {
    position: absolute;
    left: 335px;
    top: 460px;
    width: 312px;
    height: 100px;
    background-color: #fff;
}
.box2 .q {
    position: absolute;
    width: 85px;
    top: 8px;
    left: 32px;
    height: 80px;
    background-position: -17px -26px;
    background-size: 121px;
    background-image: url(../img/f2.png);
}
.box2 h2 {
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 142px;
}
.box2 p {
    font-size: 12px;
    position: absolute;
    top: 48px;
    left: 142px;
}



.box3 {
    position: absolute;
    top: 460px;
    width: 312px;
    left: 670px;
    height: 100px;
    background-color: #fff;
}
.box3 .h {
    position: absolute;
    width: 85px;
    top: 8px;
    left: 32px;
    height: 80px;
    background-position: -17px -26px;
    background-size: 121px;
    background-image: url(../img/f3.png);
}
.box3 h2 {
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 142px;
}
.box3 p {
    font-size: 12px;
    position: absolute;
    top: 48px;
    left: 142px;
}



.box4 {
    position: absolute;
    top: 460px;
    width: 312px;
    left: 1003px;
    height: 100px;
    background-color: #fff;
}
.box4 .m {
    position: absolute;
    width: 85px;
    top: 8px;
    left: 32px;
    height: 80px;
    background-position: -17px -26px;
    background-size: 121px;
    background-image: url(../img/f4.png);
}
.box4 h2 {
    font-size: 16px;
    position: absolute;
    top: 20px;
    left: 142px;
}
.box4 p {
    font-size: 12px;
    position: absolute;
    top: 48px;
    left: 142px;
}




.huaweiclound-xin {
    width: 100%;
    height: 210px;
    margin-top: 35px;
}

.huaweiclound-xin h1 {
    font-size: 16px;
    line-height: 45px;
    font-weight: normal;
}
.huaweiclound-xin ul {
    width: 100%;
    height: 100%;
}
.huaweiclound-xin .huaweiclound-xin-item {
    float: left;
    width: calc(100% / 8);
    font-size: 16px;
    margin-top: 50px;
    text-align: center;
}

.huaweiclound-xin a {
    font-size: 12px;
}
.huaweiclound-xin .i-1 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 63px;
    left: 50px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z1.png);
}
.huaweiclound-xin .i-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 63px;
    left: 215px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z2.png);
}
.huaweiclound-xin .i-3 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 63px;
    left: 379px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z3.png);
}
.huaweiclound-xin .i-4 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 63px;
    left: 535px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z4.png);
}
.huaweiclound-xin .i-5 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 63px;
    left: 698px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z5.png);
}
.huaweiclound-xin .i-6 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 63px;
    left: 860px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z6.png);
}
.huaweiclound-xin .i-7 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 63px;
    left: 1019px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z7.png);
}
.huaweiclound-xin .i-8 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 63px;
    left: 1177px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z8.png);
}
.huaweiclound-xin .i-9 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 120px;
    left: 50px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z9.png);
}
.huaweiclound-xin .jy {
    margin-left: -18px;
}
.huaweiclound-xin .i-10 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 120px;
    left: 215px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z10.png);
}
.huaweiclound-xin .i-11 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 120px;
    left: 379px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z11.png);
}
.huaweiclound-xin .i-12 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 120px;
    left: 535px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z12.png);
}
.huaweiclound-xin .i-13 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 120px;
    left: 698px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z13.png);
}
.huaweiclound-xin .i-14 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 120px;
    left: 860px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z14.png);
}
.huaweiclound-xin .i-15 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 120px;
    left: 1019px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z15.png);
}
.huaweiclound-xin .i-16 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 120px;
    left: 1177px;
    background-size: 35px;
    background-position: 3px -34px;
    background-image: url(../img/z16.png);
}
.huaweiclound-re {
    width: 100%;
    height: 655px;
}
.huaweiclound-re-box {
    width: 100%;
    height: 100%;
}
.huaweiclound-re-box1 {
    position: relative;
    height: 100%;
    background-image: url(../img/beijin3.jpg);
}
.huaweiclound-re-box2 {
    width: 100%;
}
.huaweiclound-re-box2-title{
    /* position: absolute; */
    font-size: 26px;
    padding-top: 70px;
    color: #fff;
}

.huaweiclound-re-box3 {
    width: 1280px;
    height: 504px;
}
.huaweiclound-re-box3-left {
    position: absolute;
    top: 30px;
    width: 253px;
    height: 474px;
}
.huaweiclound-nav-menus{
    margin-top: 20px;
}
.huaweiclound-nav-menus h5>a {
    margin-top: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
}
.huaweiclound-nav-menus ul>li{
    color: #fff;
    margin-top: 5px;
}
.huaweiclound-re-box3-right {
    position: absolute;
    top: 30px;
    width: 1000px;
    /* height: 474px; */
    left: 253px;
    
}
.huaweiclound-right-box {
    width: 272px;
    height: 155px;
    /* background-color: red; */
    background-color: #f5f5f6;
    float: left;
    border: 1px solid #595c66;
}
.huaweiclound-right-box h5 {
    color: #333333;
    margin-left: 30px;
    margin-top: 20px;
}
.huaweiclound-right-box p {
    margin-left: 30px;
    margin-top: 10px;
}
.huaweiclound-right-box .span1 {
    position: absolute;
    top: 120px;
    margin-left: 30px;
}
.huaweiclound-right-box .span2 {
    position: absolute;
    top: 120px;
    margin-left: 30px;
}
.huaweiclound-right-box .span3 {
    position: absolute;
    top: 437px;
    margin-left: 30px;
}
.huaweiclound-right-box .span4 {
    position: absolute;
    top: 280px;
    margin-left: 30px;
}
.huaweiclound-right-box .span5 {
    position: absolute;
    top: 280px;
    margin-left: 30px;
}
.huaweiclound-right-box .span6 {
    position: absolute;
    top: 120px;
    margin-left: 30px;
}
.huaweiclound-right-box .span7 {
    position: absolute;
    top: 437px;
    margin-left: 30px;
}
.huaweiclound-right-box .span8 {
    position: absolute;
    top: 437px;
    margin-left: 30px;
}
.huaweiclound-right-box .span9 {
    position: absolute;
    top: 280px;
    margin-left: 30px;
}
.huaweiclound-solution {
    width: 100%;
    height: 520px;
    position: relative;
}
.huaweiclound-solution-box {
    width: 100%;
    height: 100%; 
    background-image: url(../img/beijin4.jpg);
}
.huaweiclound-olution {
    width: 100%;
    position: absolute;
    height: 98px;
    top: 40px;
}
.huaweiclound-olution-title {
    position: absolute;
    font-size: 26px;
    /* line-height: 98px; */
    font-weight: 300;
}
.huaweiclound-oluction-stack {
    position: absolute;
    width: 100%;
    height: 100%;
}
.huaweiclound-oluction-stack h3 {
    position: absolute;
    font-size: 16px;
    left: 310px;
    font-weight: normal;
    top: 6px;
}
.huaweiclound-oluction-stack p {
    position: absolute;
    font-size: 14px;
    top: 40px;
    left: 310px;
}
.huaweiclound-oluction-stack p>span {
    display: none;
}
.huaweiclound-oluction-stack a {
    position: absolute;
    left: 310px;
    top: 80px;
    border: 1px solid #252b3a;
    width: 96px;
    height: 27px;
    text-align: center;
    line-height: 27px;
}
.huaweiclound-olution-bottom {
    margin-top: 135px;
}
.huaweiclound-olution-bottom ul>li {
    float: left;
    width: calc((100% - 192px)/4);
    text-align: center;
    margin-right: 40px;
    margin-top: 30px;
}
.huaweiclound-olution-bottom h3 {
    font-size: 18px;
    line-height: 22px;
    color: #252b3a;
    margin-bottom: 12px;
    font-weight: normal;
    margin-top: 10px;
}
.huaweiclound-olution-bottom .text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}
.huaweiclound-olution-bottom p {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}



.huaweiclound-bestCloud {
    width: 100%;
    height: 970px;
    position: relative;
}
.huaweiclound-bestClound-box {
    width: 100%;
    position: absolute;
    height: 40px;
    /* background-color: red; */
    top: 50px;
    font-size: 32px;
    font-weight: 300;
}