html body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
/* body {
    overflow: hidden;
} */
.huaweiclound{
width: 100%;
height: 100%;
}
.huaweiclound-top{
    position: relative;
    z-index: 2;
    height: 50px;
    border-bottom: 1px solid hsla(0,0%,100%,.1);
    font-size: 14px;
    color: #a0a2a8;
}
.huaweiclound-logo {
    float: left;
    height: 32px;
    width: 104px;
    line-height: 32px;
    left: -84px;
    top: 9px;
}


.huaweiclound-logo a {
    display: block;
    height: 32px;
    width: 104px;
    background-size: cover;
    line-height: 32px;
}
.huaweiclound-logo a>img {
    width: 104px;
    height: 32px;
}
.huaweiclound-nav {
    float: right;
    width: 678px;
    height: 49px;
}
.huaweiclound-nav-left {
    float: right;
    width: 678px;
    height: 49px;
}
.huaweiclound-nav-sou {
    width: 100%;
    height: 61px;
}

.huaweiclound-nav-sou ul>li>form>input{
    height: 32px;
    width: 141px;
    padding-left: 15px;
    padding-right: 44px;
    border: none;
    outline: none;
    background: rgba(87,93,108,.08);
    font-size: 14px;
    line-height: 20px;
    color: #252b3a;
}
.huaweiclound-nav-sou #clound{
    width: 100%;
    height: 61px;
    left: -44px;
}




.huaweiclound-nav-sou li {
    float: left;
    margin-left: 32px;
    line-height: 50px;
    color: #333333;
    font-size: 14px;
}
.huaweiclound-nav-sou ul>li>a{
    display: block;
    font-size: 14px;
}
.huaweiclound-nav-sou .ce {
    position: relative;
    background-color: #c7000b;
    width: 60px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    margin-left: 0;
    left: 32px;
    top: 10px;
    font-size: 14px;
}       
.huaweiclound-nav-sou .ce>a{
    color: #fff;
}

.huaweiclound-nav-sou #deng {
    color: red;
}
.huaweiclound-bottom {
    width: 100%;
    height: 50px;
}

.huaweiclound-show ul{
    position: relative;
    float: left;
    z-index: 1;
    /* margin-left: -15px; */
    height: 50px;
    /* overflow: hidden; */
    left: -20px;
}
.huaweiclound-show ul>li{
    float: left;
    line-height: 50px;
}
.huaweiclound-show ul>li>a{
    display: block;
    padding: 10px 21px;
    font-size: 14px;
    line-height: 30px;
    color: #252b3a;
    position: relative;
}
.huaweiclound-hide {
    width: 100%;
    height: 295px;
    background-color: #f5f5f5;
    display: none;
    position: absolute;
    z-index: 100;
    display: none;
}
.huaweiclound-hide ul {
    width: 100%;
    height: 100%;
}
.huaweiclound-hide ul>li {
    width: 300px;
    height: 65px;
    float: left;
}
.chinese-s {
    width: 50px;
    height: 34px;
}

.chinese-s .hread-ul{
    position: relative;
}
.chinese-s .hread-ul-item {
    position: relative;
    overflow: hidden;
}
.chinese-s .jian {
    display: inline-block;
    position: relative;
    top: -48px;
    width: 12px;
    height: 12px;
    margin-left: 48px;
    background: url(./img/jian.png);
    background-size: 100% 100%;
    transform: rotateX(0deg);
}
.chinese-t {
    background-color: #fff;
    display: none;
}
.heard {
    display: inline-block;
    font-size: 14px;
    width: 60px;
}
.header li {
    height: 0;
}
.hread-box .chinese-station {
    height: 22px;
    line-height: 22px;
    color: rgba(37,43,58,.6);
    font-size: 14px;
    width: 82px;
    margin-bottom: 8px;
}
.hread-ul {
    overflow: hidden;
    width: 130px;
    height: 185px;
}

.container ul>li>a> .g {
    position: relative;
    top: 10px;
    width: 12px;
    height: 12px;
    left: 15px;
    background: url(./img/jian.png);
    background-size: 15px 15px;
    background-position: -15px -15px;
}

.huaweiclound-show {
    width: 100%;
    height: 50px;
}


.huaweiclound-show ul>li>a{
    display: block;
    padding: 10px 21px;
    font-size: 14px;
    line-height: 30px;
    color: #252b3a;
    position: relative;
}


.huaweiclound-swiper {
    /* width: 1780px; */
    height: 245px;
    background-image:url(../img/beijin2.jpg);
}
.huaweiclound-product-banner-main {
    width: 862px;
    height: 250px;
}
.huaweiclound-product-banner-title h1{
    font-size: 40px;
    font-weight: normal;
    position: relative;
    top: 50px;
}
.huaweiclound-product-banner-box {
    position: absolute;
    top: 114px;
}
.huaweiclound-product-banner-btn {
    position: relative;
    top: 102px;
    width: 862px;
    /* background-color: red; */
    height: 45px;
}
.huaweiclound-product-banner-btn .j{
    position: absolute;
    background-color: #C7000B;
    border-color: #C7000B;
    color: #ffffff;
    padding: 15px;
    width: 87px;
    height: 15px;
    text-align: center;
    font-size: 14px;
}
.huaweiclound-product-banner-btn .l {
    position: absolute;
    left: 129px;
    color: #333333;
    border: 1px solid #333333;
    padding: 15px;
    width: 87px;
    height: 13px;
    text-align: center;
    font-size: 14px;
}
.huaweiclound-swiper-main-title h3 {
    padding-left: 42px;
    padding-right: 42px;
    font-weight: 700;
    font-size: 24px;
    /* margin-top: 50px; */
    line-height: 30px;
    color: #252b3a;
    text-align: center;
    /* background-color: red; */
    line-height: 200px;
}
.huaweiclound-swiper-main-title{
    width: 100%;
    height: 200px;
    background-color: #fafafa;
}










.huaweiclound-swiper-main-body {
    width: 100%;
    height: 420px;
    background-color: #fafafa;
}

/* .huaweiclound-main-body-nav {
    background-color: #fdfdfd;
} */
.huaweiclound-main-body-nav ul {
    width: 1296px;
    height: 361px;
}
.huaweiclound-main-body-nav li {
    float: left;
    background: #ffffff;
    box-shadow: 0 1px 4px 0 rgba(128, 132, 145, 0.2);
    border-radius: 2px;
    transition: all 0.5s ease 0s;
    margin-right: 10px;
}
.huaweiclound-main-body-nav-hour {
    width: 415px;
    height: 337px;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    background-color: #ffffff;
    /* margin-right: 10px; */
    border: 1px solid #ddd;
}
.huaweiclound-main-body-nav-hour img{
    margin-top: 40px;
}
.huaweiclound-main-body-nav-hour-title h2{
    font-size: 18px;
    color: #252B3A;
    line-height: 22px;
    font-weight: 700;
    margin-top: 20px;
    position: relative;
}
.huaweiclound-main-body-nav-hour-title p {
    font-size: 14px;
    color: #575D6C;
    line-height: 22px;
    margin-top: 35px;
    text-align: left;
    width: 362px;
    text-align: center;
    margin-left: 30px;
}






.huaweiclound-content {
    width: 100%;
    height: 685px;
    background-color: #fafafa;
}
.huaweiclound-content-box-title {
    width: 100%;
    height: 62px;
}
.huaweiclound-content-box-title h4 {
    text-align: center;
    font-size: 30px;
    line-height: 62px;
    padding: 0 0 32px;
}
.huaweiclound-content-box-entry {
    width: 100%;
    height: 60px;

}
.huaweiclound-content-box-entry ul {
    width: 100%;
    height: 60px;
    padding: 40px 0px 0;
    border-bottom: 1px solid #ddd;

}
.huaweiclound-content-box-entry li {
    width: 160px;
    height: 60px;
    /* background-color: red; */
    float: left;
    text-align: center;

}
.huaweiclound-content-box-entry a {
    line-height: 60px;
    font-size: 20px;
}





.huaweiclound-content-box-bottom {
    width: 100%;
    height: 504px;
}
.huaweiclound-content-box-bottom ul {
    width: 100%;
    height: 100%;   
}
.huaweiclound-content-box-bottom li {
    float: left;
    width: 28%;
    height: 175px;
    /* background-color: red; */
    padding: 24px;
    margin: 0 8px 16px;
}
.huaweiclound-content-box-bottom a>h2{
    font-size: 18px;
}
.huaweiclound-content-box-bottom a>p {
        font-size: 14px;
    margin-top: 10px;
}



.huaweiclound-cb {
    width: 100%;
    height: 263px;
    background-color: pink;
    position: relative;
}
.huaweiclound-cb img {
    width: 100%;
    height: 100%;
}
.hauweiclound-cb-box {
    width: 100%;
    height: 263px;
    /* background-color: red; */
    background-image: url(../img/cb.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
}

.huaweiclound-cb-title {
    width: 100%;
    height: 73px;
}
.huaweiclound-cb-title h2 {
    color: #fff;
    text-align: center;
    font-size: 24px;
    width: 100%;
    height: 73px;
    line-height: 73px;
    margin-top: 50px;
}
.huaweiclound-cb-reckon {
    width: 100%;
    height: 78px;
}
.huaweiclound-cb-reckon p{
    font-size: 14px;
    color: #fff;
    text-align: center;
}
.huaweiclound-cb-button {
    width: 100%;
    height: 30px;
    margin-top: 20px;
    /* background-color: pink; */
    text-align: center;
}

.huaweiclound-cb-button a{
    background-color: #d64a52;
    display: inline-block;
    border: solid 1px transparent;
    color: #fff;
    font-size: 12px;
    line-height: 28px;
    padding-left: 24px;
    padding-right: 24px;
}
.huaweiclound-cb-button a:hover {
    opacity: 0.7;
}





.hauweiclound-service {
    width: 100%;
    height: 505px;
    background-color: #fafafa;
}
.huaweiclound-service-box-head-title {
    padding-bottom: 32px;
    font-size: 0;
    text-align: center;
}
.huaweiclound-service-box-head-title h3{
    font-size: 20px;
    padding-top: 70px;
    color: #fff;
}
.hauweiclound-section-top {
    width: 100%;
    height: 331px;
}
.hauweiclound-section-top #top {
    float: left;
    width: 256px;
    height: 300px;
}
#top h3 {
    text-align: center;
    width: 255px;
    height: 54px;
    background-color: #526ecc;
    line-height: 54px;
    color: #fff;
    position: relative;
}
#top span {
    line-height: 204px;
    color: #575D6C;
    font-size: 14px;    
}
#top p {
    width: 256px;
    height: 204px;
    line-height: 204px;
    font-size: 14px;
}
#top .free {
    position: absolute;
    top: 215px;
}
#top ul {
    width: 256px;
    height: 204px;
    /* padding: 20px; */
}
#top li {
    font-size: 14px;
    margin-top: 5px;
}
#top .spend {
    margin-top: 50px;
}
.hauweiclound-section-bottom {
    width: 256px;
    height: 72px;

}







.huaweiclound-footer {
    width: 100%;
    height: 101px;
    background-color: #f3f3f3;
}
.huaweiclound-footer-wrapper {
    width: 100%;
    height: 100%;
}
.huaweiclound-footer-wrapper ul {
    overflow: hidden;
    border-bottom: 1px solid #e2e2e2;
}
.huaweiclound-footer-wrapper li {
    float: left;
    width: 20%;
}
.huaweiclound-footer-wrapper li>a {
    display: block;
    position: relative;
    height: 72px;
    padding-left: 55px;
    padding-top: 28px;
}
.huaweiclound-footer-wrapper a>i {
    position: absolute;
    left: 0;
    top: 50px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-size: 100% 100%;

}
.footer-support {
    background-image: url(../img/support.svg);
}
.footer-unsub {
    background-image: url(../img/unsub.svg);
}
.footer-record {
    background-image: url(../img/record.svg);
}
.footer-feedback {
    background-image: url(../img/feedback.svg);
}
.footer-vip {
    background-image: url(../img/vip.svg);
}
.huaweiclound-footer-wrapper a>h2 {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 22px;
    color: #252b3a;
}
.huaweiclound-footer-wrapper a>p {
    font-size: 14px;
    line-height: 18px;
    color: #666a75;
}

.huaweiclound-final {
    width: 100%;
    height: 325px;
    background-color: #f3f3f3;
}
.huaweiclound-final-left {
    width: 242px;
    height: 253px;
    padding-top: 38px;
    padding-bottom: 42px;
    float: left;

}
.huaweiclound-final-left-box {
    width: 242px;
    height: 253px;
    border-right: 1px solid #e2e2e2;
}
.huaweiclound-left-box-top {
    width: 142px;
    height: 81px;
    /* border: 1px solid #f5f5f5; */

}
.huaweiclound-left-box-top h2{
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #252b3a;
    font-weight: normal;
}
.huaweiclound-left-box-top p {
    font-size: 20px;
    line-height: 22px;
    color: #252b3a;
}
.huaweiclound-left-box-top p+p {
    margin-top: 7px;
}
.huaweiclound-left-box-top ul {
    width: 142px;
    height: 72px;

}
.huaweiclound-left-box-top ul>li {
    font-size: 12px;
    line-height: 24px;
    margin-top: 5px;
}




.huaweiclound-left-box-top dl>dt {
    margin-top: 40px;
    font-size: 14px;
}
.huaweiclound-fainal-right {
    width: 983px;
    height: 305px;
    float: right;
    /* width: calc(100% - 242px); */
    padding-left: 54px;
}
.huaweiclound-left-box-bottom  {
    width: 100%;
    height: 100%;
}
.huaweiclound-left-box-bottom dl{
    float: left;
    width: 20%;
    padding-top: 30px;
    font-size: 14px;
}
.huaweiclound-left-box-bottom dt {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 18px;
    color: #252b3a;
}
.huaweiclound-left-box-bottom dd {
    margin-top: 15px;
}
